In [6]:
import pandas as pd

In [7]:
# Create a DataFrame for the vine-table.csv file 
vine_df = pd.read_csv("vine-table.csv")

# Confirm the datatypes
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4366916 entries, 0 to 4366915
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        int64
 2   helpful_votes      int64
 3   total_votes        int64
 4   vine               object
 5   verified_purchase  object
dtypes: int64(3), object(3)
memory usage: 199.9+ MB

In [15]:
# Show the df
vine_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y

In [16]:
# 1. Create a new DF that filters the data to show all total_votes count >= 20
total_votes_20_df = vine_df[vine_df["total_votes"] >= 20]
total_votes_20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
406,R37F42INKX7L9K,5,45,49,N,Y
1153,R2EHKYNEP8WVSR,5,25,25,N,Y
1156,RXOS7BHID0UHL,5,16,27,N,N
1395,R3HNVIIDB6YEGJ,5,50,53,N,N
1589,R20JASRRHMKRQ,5,32,34,N,Y

In [19]:
#2. Create a new DF that shows all rows where the number of helpful_votes/total_votes >= 50%
helpful_votes_50_df = total_votes_20_df[(total_votes_20_df["helpful_votes"]/
                                                total_votes_20_df["total_votes"]) >= 0.5]
helpful_votes_50_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
406,R37F42INKX7L9K,5,45,49,N,Y
1153,R2EHKYNEP8WVSR,5,25,25,N,Y
1156,RXOS7BHID0UHL,5,16,27,N,N
1395,R3HNVIIDB6YEGJ,5,50,53,N,N
1589,R20JASRRHMKRQ,5,32,34,N,Y

In [20]:
#3. Create a new DF that shows all rows where the reviews were part of the Vine program (paid)
paid_df = helpful_votes_50_df[helpful_votes_50_df["vine"] == "Y"]
paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
540525,R2N45ZKRRZS856,5,21,22,Y,N
613275,R5OMLMK13A8NS,5,34,38,Y,N
1192794,R2MPEQ4SPTEQNS,4,180,184,Y,N
1227122,R1307JMPUEQXOW,5,31,35,Y,N
1451963,RXV0SDXE5B15T,2,39,42,Y,N

In [21]:
#4. Create a new DF that shows all rows where the reviews were part of the Vine program (unpaid)
unpaid_df = helpful_votes_50_df[helpful_votes_50_df["vine"] == "N"]
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
406,R37F42INKX7L9K,5,45,49,N,Y
1153,R2EHKYNEP8WVSR,5,25,25,N,Y
1156,RXOS7BHID0UHL,5,16,27,N,N
1395,R3HNVIIDB6YEGJ,5,50,53,N,N
1589,R20JASRRHMKRQ,5,32,34,N,Y

In [31]:
#5a. Determine the total number of reviews for paid
paid_reviews_total = paid_df.count()
paid_reviews_total["review_id"]

22

In [32]:
# Determine the total number of reviews for unpaid
unpaid_reviews_total = unpaid_df.count()
unpaid_reviews_total["review_id"]

26987

In [33]:
#5b. Determine the number of 5-star reviews for paid
paid_reviews_5star = paid_df[paid_df["star_rating"] == 5].count()
paid_reviews_5star["review_id"]

13

In [34]:
# Determine the number of 5-star reviews for unpaid
unpaid_reviews_5star = unpaid_df[unpaid_df["star_rating"] == 5].count()
unpaid_reviews_5star["review_id"]

14475

In [35]:
#5c. Determine the percent of 5-star reviews for paid
paid_reviews_5star_percentage = ((paid_reviews_5star/paid_reviews_total) * 100)
paid_reviews_5star_percentage["review_id"]

59.09090909090909

In [36]:
# Determine the percent of 5-star reviews for unpaid
unpaid_reviews_5star_percentage = ((unpaid_reviews_5star/unpaid_reviews_total) * 100)
unpaid_reviews_5star_percentage["review_id"]

53.63693630266425